<launch>

  <arg name="grip_ip" default="192.168.1.11"/>
  <node pkg="ft_sensor_driver" type="lp_filter.py" name="lp_filter" output="screen"/>
  <node respawn='true' pkg="robotiq_3f_gripper_control" type="Robotiq3FGripperTcpNode.py" name="Robotiq3FGripperTcpNode" args="$(arg grip_ip)" output="screen"/>
  <node respawn='true' pkg="robotiq_3f_gripper_joint_state_publisher" type="robotiq_3f_gripper_joint_states" name="robotiq_3f_gripper_joint_states" output="screen"/>
  <include file="$(find uji_ur5)/launch/ur5e_bringup.launch"/>
  <include file="$(find uji_ur5_moveit)/launch/moveit_planning_execution.launch"/>
  <include file="$(find uji_ur5_moveit)/launch/moveit_rviz.launch"/>

</launch>
